---
title: Static Website
layout: base.njk
---

    <div class="container">
        <h1>This is a static Website</h1>
        <div class="vibe">This if for you...<br></div>
        <div class="love">❤️</div>
    </div>
    <script src="/js/vibes.js"></script>